body { 
    background-image: url("/Users/abc/Desktop/Code/HW/Bootstrap-Portfolio/images/back.JPG");
    background-size:cover;
}
.contact-form {
    background-color: rgba(0,0,0, .6);
    color: white;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}